<div class="container">
  <div id="hero">
    <!-- TODO: Place logo here -->
    <h1>ThisWouldLookGreatInMy</h1>
    <h3>Find beautiful photographic art to decorate your home.</h3>
    <%= link_to "Browse Art", '/auth/500px' %>
  </div>
</div>