<div id="hero">
  <div id="hero-inner">
    <div id="hero-logo">G A L L E R Y</div>
    <div id="hero-copy">
      <h1>Find beautiful photographs to decorate your home.</h1>
    </div>
    <div id="hero-button">
      <%= button_to "Browse Art", '/auth/500px', method: :get %>
    </div>
  </div>
</div>