// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container {
  @include outer-container;
  padding-top: $navigation-bar-height / 6;

  div.photo-box {

    position: relative;
    margin: 1rem 2% 1rem 2%;
    padding-bottom: 0.5rem;
    box-shadow: $card-shadow;

    @include media($tablet) {
      @include span-columns(2 of 4);
      margin: 1rem 0.8rem 0.5rem 0.8rem;
    }

    @include media($desktop) {
      @include span-columns(4 of 12);
      @include omega(3n);
      margin: 1rem 0% 1rem 1.25%;
    }

    div.photo {
    }

    div.price {
      color: black;
      background-color: white;
      box-shadow: $element-shadow;
      position: absolute;
      right: 0;
      margin-top: 1.5rem;
      padding: 1rem;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      text-align: center;
      font-size: large;
      font-family: "Open Sans", sans-serif;
    }

    div.photo-info {

      div.photo-name {
        margin-left: 1rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 26px;
      }

      div.artist-name {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 16px;
        font-family: "Josephin Sans", sans-serif;
        font-weight: 100;
      }

      div.divider {
        position: relative;
        margin-bottom: 0.5rem;
        padding: 1px;
        background-color: #F2F2F2;
      }

      div.favorite-button {
        margin-left: 1rem;

        form.link_to {
          display: inline-block;
          margin: 0.5rem;
          box-shadow: $element-shadow;
          background-color: $gold;
          border-radius: 3px;

          &:hover {
            background-color: $gold;
          }

          span {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
          }

          i {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}