#hero {
  $base-border-radius: 3px !default;
  $action-color: #0099E5 !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #000;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: image-url('background.jpg');
  overflow: hidden;

  @include background($hero-image, linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3rem;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;

  #hero-inner {
    @include outer-container;
    @include clearfix;
    margin: 2rem auto;
    padding-top: 25%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    position: relative;

    @include media($large-screen) {
      padding-top: 12%;
    }

    #hero-logo {
      h1 {
        height: 4rem;
        margin-bottom: 1rem;
        font-size: 30px;
        color: white;
        font-family: 'Josephin Sans', sans-serif;
        font-weight: 100;
      }

      #callout {
        color: white;
        font-family: 'Josephin Sans', sans-serif;
        font-weight: 100;
      }
    }

    #hero-copy {
      text-align: center;
      padding-top: 4rem;
      text-shadow: 1px 1px 2px grey;

      h1 {
        color: $hero-color;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;

        @include media($large-screen) {
          font-size: 1.8rem;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4rem;
        margin: 0 auto 1rem auto;

        @include media($large-screen) {
          font-size: 1.1rem;
          max-width: 50%;
        }
      }
    }
    #hero-button {
      padding-top: 1.5rem;

      form.button_to {
        display: inline-block;
        margin: 0.5rem;
        box-shadow: 0px 1px 0px rgba(255,255,255,0.15) inset,0px 1px 2px rgba(0,0,0,0.15);

      }
    }
  }

  // .overlay {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: #324766;
  //   opacity: 0.5;
  // }
}