<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <h1>G A L L E R Y</h1>
      <div id="callout"><p>Powered by <i class="fa fa-500px"></i></p></div>
    </a>
    <% if current_user %>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <% end %>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <% if current_user %>
        <li class="nav-link"><%= link_to "Sign out", signout_path, method: :delete %>
        </li>
      </div>
      <% end %>
      </ul>
    </nav>
  </div>
</header>